
*{
    margin: 0;
}
.manu-contaner{
background-color: black;
color: white;
list-style: none;
display: flex;
align-items: center;
justify-content: space-around; 

}

.logo-pho{
    width: 50px;
    height: 50px;
  
    
}
.manus{
    display: flex;
    cursor: pointer;
    
}
.item{
    margin: 10px;
    font-size: 20px;    
}

.item:hover{
    color: green;
    cursor: pointer;
}
.banar-contaner{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    border: 2px solid red;
    align-items: center;
    background-color: rgb(195, 164, 225);
}
.banaer-img{

}
.title{
    font-size: 40px;
}